$base-font-size: 18px;
$line-height: 18px;

html, body {
  height: auto;
}

body {
  color: #555;
  font-family: 'Karla', sans-serif;
  font-size: $base-font-size;
  line-height: 26px;
}

h1, h2 {
  color: #000;
  font-size: $base-font-size;
	margin: 0;
	padding: 0;
}

h1 {
  color: #373737;
	font-weight: 400;
}

h2 {
  font-weight: 800;
  margin-bottom: $line-height / 2;
}

p {
  font-size: $base-font-size;
  margin-bottom: 0;
}

a {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

header {
  margin: $line-height * 1.78 auto;

  @media screen and (min-width: 481px)  {
    margin: $line-height * 3.56 auto;
  }
}

.section {
  margin-bottom: $line-height * 3;
}

.contact {
  background: #fafafa;
  border-bottom: 1px solid #eee;
  padding: $line-height * 3 0;


  a {
    border-color: inherit;
    color: inherit;

    &:hover {
      border: 0;
      color: #000;
    }
  }
}
