@font-face {
  font-family: "camptonsemibold";
  src: url("../fonts/campton-semibold-webfont.woff2") format("woff2"),
       url("../fonts/campton-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "camptonsemibold";
  text-align: center;
}

h1 {
  margin: 0 auto;
  padding-top: 25%;
}
