<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">        
        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    </head>
<body>

<section id="blog">

    <nav>
        <a href="/">About</a>
        <a href="/blog/">Blog</a>
        <a href="mailto:alberto@decabeza.es">Contacta</a>
    </nav>

    <!-- <header>
        <h1>decabeza <span>blog</span></h1>
    </header> -->

    <article class="site">
     
          {{ content }}
        
    </article>

</section>

<footer>
       
    <a href="https://twitter.com/decabeza"><i class="fa fa-twitter"></i></a>
    <a href="https://dribbble.com/decabeza"><i class="fa fa-dribbble"></i></a>
    <a href="https://github.com/decabeza"><i class="fa fa-github"></i></a>
            
    <p class="copyright">&copy; 2013 decabeza.es - UI & UX designer</p>
    
</footer>
        
</body>
</html>