<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/estilo.css">
        <link rel="stylesheet" href="css/font-awesome.css">
    </head>
<body>

<!-- <script src="/javascript/jquery.js"></script>
<script src="/javascript/jquery.sidr.min.js"></script> -->

<!-- <a id="simple-menu" href="#sidr">
    <div id="lines"></div>
</a> -->

<!-- <div style="float: right; border: 1px solid green; border-radius: 60px; margin: 24px;">
    <a href="/" style="color: green; text-decoration: none;padding: 10px 24px; display: block;">contacta</a>
</div> -->

<div id="sidr">
    <nav>
        <a href="/"><i class="fa fa-rocket"></i>About</a>
        <a href="/blog/"><i class="fa fa-file-text"></i>Blog</a>
    </nav>
</div>

<header>
    <h1 class="title">decabeza</h1>
    <h2>“I'm <del>Winston Wolf</del> Alberto. I solve problems.”</h2>
    <h3>User Interface & User Experience designer</h3>
</header>
 
<!-- <div id="sidr">
    <nav>
        <a href="/"><i class="fa fa-rocket"></i>About</a>
        <a href="/blog/"><i class="fa fa-file-text"></i>Blog</a>
    </nav>
</div> -->
 
<script>
// $(document).ready(function() {
//   $('#simple-menu').sidr();
// });
// </script>

        <section class="site wrapper">
          <div class="header">
            
          </div>

          {{ content }}
        
        </section>
        
<footer>
       
    <a href="https://twitter.com/decabeza"><i class="fa fa-twitter"></i></a>
    <a href="https://dribbble.com/decabeza"><i class="fa fa-dribbble"></i></a>
    <a href="https://github.com/decabeza"><i class="fa fa-github"></i></a>
            
    <p class="copyright">&copy; 2014 decabeza</p>
    
</footer>
        
</body>
</html>