<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">        
        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800,900,600,100,200' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    </head>
<body>

<div class="blog-background">

    <section id="home">

        <nav>        
            <a href="/">About</a>
            <a href="/blog/">Blog</a>
            <a href="mailto:alberto@decabeza.es">Contacta</a>
        </nav>

        <header>
            <hgroup>
                <h1 class="title">blog</h1>                
                <h3>A veces escribo...</h3>
            </hgroup>
        </header>
</div>     

        <article class="site wrapper">           
            {{ content }}
        </article>

    </section>

     <div class="push"></div>

    <footer>  
        <a href="https://twitter.com/decabeza" class="twitter" title="decabeza en Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://dribbble.com/decabeza" class="dribbble" title="decabeza en Dribbble"><i class="fa fa-dribbble"></i></a>
        <a href="https://github.com/decabeza" class="github" title="decabeza en Github"><i class="fa fa-github"></i></a>
        <p class="copyright">&copy; 2014 Made by decabeza </p>
    </footer>
        
</body>
</html>